.sidebar-toggle .sidebar-toggle-button {
    top: auto;
    bottom: 0;
    transition: transform var(--sidebar-transition-duration) ease-out;
}

button.mbtn {
    padding:0.6em 1.2em;
    border-radius: 20px;
    color:#fff;
    background-color:#1976d2;
    font-size:0.9em;
    border:0;
    cursor:pointer;
    margin:1em;
  }
  
  button.mbtn.green
  {
      background-color:#2e7d32;
  }
  
  button.mbtn.red
  {
      background-color:#c62828;
  }